How are in-demand skills trending for Data Analysts?

Methology
- Aggregate skill counts monthly
- Re-analyze based on percentage of total jobs
- Plot the monthly skill demand

In [2]:
# Importing Libraries
import ast
import pandas as pd
import seaborn as sns
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

Group the skills by month

In [3]:
## Skill count per month for data analysts
df_DA_ind = df[(df['job_title'] == 'Data Analyst') & (df['job_country'] == 'India')].copy()

df_DA_ind['job_posted_month_no'] = df_DA_ind['job_posted_date'].dt.month

# Explode job_skills column
df_DA_ind_explode = df_DA_ind.explode('job_skills')

Pivot in prep for plotting

In [11]:
# Group by month and job_skills
df_DA_ind_pivot = df_DA_ind_explode.pivot_table(index='job_posted_month_no', columns='job_skills',  aggfunc='size', fill_value=0)

df_DA_ind_pivot

job_skills,airflow,alteryx,ansible,arch,asana,asp.net,assembly,aurora,aws,azure,...,vba,visio,visual basic,vmware,watson,webex,windows,wire,word,zoom
job_posted_month_no,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,1,0,0,6,5,...,6,1,0,0,0,1,1,0,8,0
2,1,8,0,0,0,0,0,0,6,7,...,8,0,0,0,1,0,1,0,3,0
3,1,1,1,0,0,0,0,0,7,6,...,4,0,0,0,0,0,2,0,3,0
4,0,1,0,1,0,0,1,0,4,8,...,2,2,0,0,0,0,1,0,6,0
5,0,4,0,0,0,0,0,0,4,9,...,4,0,1,0,0,0,2,0,4,0
6,1,5,0,0,0,0,0,1,10,9,...,1,0,1,1,0,0,0,0,1,0
7,3,2,0,0,0,0,0,0,5,8,...,5,0,1,0,0,0,0,0,1,0
8,7,5,0,0,0,0,0,0,20,11,...,4,0,0,0,0,0,0,0,7,0
9,1,2,0,0,1,0,0,0,12,5,...,4,2,0,2,0,0,1,0,1,0
10,1,1,2,0,0,0,0,0,15,9,...,2,0,1,0,0,0,3,0,5,3
11,1,9,1,0,0,0,0,0,15,9,...,3,0,0,0,0,0,0,0,12,0
12,2,6,0,0,0,0,0,0,11,13,...,9,1,1,1,0,0,0,1,6,0

Sort columns by count and rename month numbers to month names

In [12]:
# sorts by count
df_DA_ind_pivot.loc['Total'] = df_DA_ind_pivot.sum()

In [15]:
df_DA_ind_pivot.loc['Total'].sort_values(ascending=False)

job_skills
sql         896
python      601
excel       598
tableau     506
power bi    383
           ...
unify         1
vb.net        1
watson        1
webex         1
wire          1
Name: Total, Length: 139, dtype: int64